/* Site Header
----------------------------------------------------------------------------- */

.site-header {
    height: 100vh;
    position: relative;
    padding: 0px;
    .site-title {
        @extend .h1;
    }
    .site-description {
        margin-bottom: 0;
    }
    .top-menu {
        width: 100%;
        position: fixed;
        top: 0px;
        background-color: #fff;
        .right-button {
            position: relative;
            right: 0px;
            text-align: right;
            width: 50%;
            float: right;
            a {
                background-color: #2e3192;
                min-width: 150px;
                min-height: 85px;
                padding: 25px 17px;
                color: #fff;
                display: inline-block;
                text-align: center;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}